.icon{
	position: relative;

	width: 15px;
	height: 15px;

	background: url("../img/icon.png");
}

/************/
/*	 Ranks	*/
/************/

.icon.icon-default{
	background-position: 0px 0px;
}

.icon.icon-moderator{
	background-position: -15px 0px;
}

.icon.icon-admin{
	background-position: -30px 0px;
}

.icon.icon-server{
	background-position: -45px 0px;
}
/****************/
/*	  message	*/
/****************/

.icon.icon-pv{
	background-position: 0px -30px;
}

.icon.icon-mention{
	background-position: -15px -30px;
}

/****************/
/*	But System	*/
/****************/
.icon.icon-param{
	width: 30px;
	height: 30px;

	background-position: 0px -60px;
}

.icon.icon-close{
	width: 30px;
	height: 30px;

	background-position: -30px -60px;
}

.icon.icon-send_msg{
	width: 30px;
	height: 30px;

	background-position: -60px -60px;
}
