.icon{
	width: 15px;
	height: 15px;

	background: url();
}

/************/
/*	 Ranks	*/
/************/

.icon.icon-default{
	background-position: 0px 0px;
}

.icon.icon-moderator{
	background-position: 0px 0px;
}

.icon.icon-admin{
	background-position: 0px 0px;
}
/****************/
/*	  message	*/
/****************/

.icon.icon-pv{
	background-position: 0px 0px;
}